extends layout

block content
    link(rel='stylesheet', href='/stylesheets/header-bar.css')
    div(class="bar")
        img(src="/images/TH_Koeln_Logo.svg.png", alt="THK Image", width= '191px', height= '103px')