extends layout

block content
    link(rel='stylesheet', href='/stylesheets/header-bar.css')
    div(id="bar")
        div(id="container")
            img(src="/images/TH_Koeln_Logo.svg.png", alt="THK Image", id="th_image")
            div(id="title") 
                p(id="title_text") Transponder-Leihsystem
            div(id="icons")
                ul(id="icon_list")
                    li(class="header_bar_list_elements", id="home")
                        a(href="")
                            img(class="header_bar_icons", src="/images/white-house-icon-png-5-transparent.png", alt="home_img")
                    li(class="header_bar_list_elements", id="notif")
                        a(href="")
                            img(class="header_bar_icons", src="/images/kisspng-computer-icons-download-clip-art-notification-icon-5b46fd8375ada1.701012761531379075482.png", alt="notif_img")
                    li(class="header_bar_list_elements", id="language")
                        a(href="")
                            img(class="header_bar_icons", src="/images/FAVPNG_dictionary-translation-english-language_cpuPshVb.png", alt="home_img")