extends layout

block content
    include header-bar.pug
    link(rel='stylesheet', href='/stylesheets/')
    h1= home
    p there is no place like home
    div(class="menu")
        | Transponder
        br
        img(src="/images/", alt="transponder", width= '191px', height= '103px')
        | Ausleihe
        br
        img(src="/images/", alt="THK Image", width= '191px', height= '103px')
        | Abgabe 
        br
        img(src="/images/", alt="THK Image", width= '191px', height= '103px')
        | Logout
        br
        img(src="/image", alt="THK Image", width= '191px', height= '103px')
