extends layout

block content
  h1= Login
  p Welcome to Login Page
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
</style>
</head>
<body>
<div>
  <p>herzlich wilkommen beim Transponder-Leihsystem der TH koeln</p>
  <div>
  <form>
    <label for="id">ID *</label><br>
    <input type="text" id="id" name="id"><br>
    <label for="password">Passwort*</label><br>
    <input type="text" id="password" name="password">
    <input type="submit" value="anmelden">
  </form>
  <p>* Erforderliche Angabe</p>
  </div>
  <div>
    Service-Desk
   Mo - Fr 08:00 - 18:00 Uhr
    Samstag 10:00 - 14:00 Uhr
    E-Mail: support@campus-it.th-koeln.de
    </div>
</div>