extends layout

block content
  include header-bar.pug
    link(rel='stylesheet', href='/stylesheets/home.css')
    div(id='page_content')
      div(id="menu")
        ul(class="menu")
          li(class="menu_elements", id='transponder')
            a(href='/porter/transponders?filter=all')
              b 
                font(size="5") Transponder
              br
              img(src='/images/clipart1649631.png', alt='transponder', width='75px', height='75px', style="padding-top: 10px")
          li(class="menu_elements",id='ausleihe')
            a(href='/porter/rent')
              b
                font(size="5") Ausleihe
              br
              img(src='/images/Circle-icons-arrow-up.svg.png', , alt='ausleihe', width='75px', height='75px', style="padding-top: 10px")
          li(class="menu_elements",id='abgabe')
            a(href='')
              b
                font(size="5") Abgabe
              br
              img(src='/images/pngkey.com-circle-arrow-png-492765.png', alt='transponder', width='75px', height='75px', style="padding-top: 10px")
        ul(class="menu")
          li(class="menu_elements",id='logout')
            a(href='/login')
              b
                font(size="5") Logout 
              br
              img(src='/images/primary-logout.png', alt='transponder', width='75px', height='75px', style="padding-top: 10px")