extends layout

block content
  include header-bar.pug
  link(rel='stylesheet', href='/stylesheets/transponderRent.css')
  div(id='page-content')
    div#page_title
        | Ausleih
    div#page_options
        p Matrikel-Nr
        form(action="/porter/rent", method="GET")
            label#search_label(for="search_bar")
                input#search_bar(type="search", name="search")
                button#search_button(type="submit", value="")
        form#daten(action='')
          input#button(type='submit', value='Daten eingeben')
