extends layout

block content
  include header-bar.pug
  link(rel='stylesheet', href='/stylesheets/transpondersList.css')
  div(id="page-content")
    p Transponders
    form(name="filterForm", action="/porter/transponders", method="get")
            select(name="filter") Filter
                option(value="all") Alle
                option(value="rented") Ausgeliehen
                option(value="available") Verfügbar
            button(type="submit") Apply
    img(src='/images/kisspng-computer-icons-printing-printer-paper-5b091e37a42688.0308692615273242156724.png', alt='print_icon', width='75px', height='75px')
    table(id='transponders_table', border='2', width='700px')
            tr
                th Transponder-Nr
                th Raum-Nr
                th Status
                th Leihdatum
                th Verlauf
            each row in list
                tr
                    td(style="text-align: center;")=row.transponderNr
                    td(style="text-align: center;")=row.roomNr
                    td(style="text-align: center;")=row.status
                    td(style="text-align: center;")=row.rentingDate
                    td(style="text-align: center;")
                        a(href="")
                            img(src="/images/info-icon-png-15.jpg", alt="history_button", width='25px', height='25px')
