.info {
    position: static;
    background: #BFDAF3;
    margin: 0;
    margin-right: 10px;
    width: fit-content;
    padding: 35px 0;
    padding-left: 10px;
    padding-right: 20px;
    float: right;
}

.text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;

    color: #000000;

}
