.info {
    position: static;
    background: #BFDAF3;
    margin: 0;
    margin-right: 10px;
    width: fit-content;
    padding: 35px 0;
    padding-left: 10px;
    padding-right: 20px;
    float: right;
}

.text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;

    color: #000000;

}

#page_content {
    padding: 10px 20px;
}

#welcome_text {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
}

#form {
    display: flex;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
}

#form input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border:1px solid #0d5aa1;
    background-color: #BFDAF3;
    text-indent: 5px;
    border-radius: 5px;

}
